<header class="site-header" role="banner" style="min-height: 56px;padding-top: 10px;padding-bottom: 10px;position: relative;">
  <div class="wrapper">
    <a href="{{ "" | prepend: site.baseurl | prepend: site.url }}/">
      <img src="{{ "/images/Lawrence_logo.png" | absolute_url }}" alt="{{ site.title }}"" style="
      height:50px;
      font-size: 26px;
      line-height: 56px;
      letter-spacing: -1px;
      float: left;"/>
    </a>
    <nav class="site-nav">
        <div class="trigger"><a class="page-link" href="/about/">About</a><a class="page-link" href="/CV/CV.pdf">CV</a></div>
      </nav></div>
</header>
